ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(98, 194, 253);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
      background-color: rgb(13, 160, 0);
  }

  li a:hover {
    background-color: rgb(66, 73, 0);
  }